RewriteEngine on


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond $1 !^(css|js|images|inc|lang)
RewriteRule ^(.*)$ $1.php



RewriteRule ^genel-ayar$ index.php?page=genel-ayar [L,NC]
RewriteRule ^iletisim-ayar$ index.php?page=iletisim-ayar [L,NC]
RewriteRule ^sosyal-ayar$ index.php?page=sosyal-ayar [L,NC]
RewriteRule ^hakkimizda-ayar$ index.php?page=hakkimizda-ayar [L,NC]
RewriteRule ^urun-ayar$ index.php?page=urun-ayar [L,NC]
RewriteRule ^urun-ekle$ index.php?page=urun-ekle [L,NC]
RewriteRule ^uyeler$ index.php?page=uyeler [L,NC]
RewriteRule ^bankalar$ index.php?page=bankalar [L,NC]
RewriteRule ^slider$ index.php?page=slider [L,NC]
RewriteRule ^siparis$ index.php?page=siparis [L,NC]
RewriteRule ^urun-duzenle-([0-9a-zA-Z-_]+)$ index.php?page=urun-duzenle&urun_id=$1 [L,QSA]
RewriteRule ^urun-pin-ayar$ index.php?page=urun-pin-ayar [L,NC]
RewriteRule ^urun-kod-ayar$ index.php?page=urun-kod-ayar [L,NC]
RewriteRule ^odeme-kk$ index.php?page=odeme-kk [L,NC]
RewriteRule ^odeme-sb$ index.php?page=odeme-sb [L,NC]
RewriteRule ^odeme-banka$ index.php?page=odeme-banka [L,NC]
RewriteRule ^api-ayarlari$ index.php?page=api-ayarlari [L,NC]