RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond $1 !^(css|js|images|inc|lang)
RewriteRule ^(.*)$ $1.php

RewriteRule ^register$ index.php?page=register [L,NC]
RewriteRule ^sifre-islemleri$ index.php?page=sifre-islemleri [L,QSA]
RewriteRule ^firma-profil$ index.php?page=firma-profil [L,QSA]
RewriteRule ^firma-sifre-islemleri$ index.php?page=firma-sifre-islemleri [L,QSA]
RewriteRule ^profil$ index.php?page=profil&sayfa=1 [L,QSA]
RewriteRule ^logout$ index.php?page=logout [L,QSA]
RewriteRule ^([0-9a-zA-Z-_]+)$ index.php?page=detay&sef=$1 [NC]